<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Ready for this PC. For LAN, change Data Source to the SQL Server computer name/IP. -->
    <add name="RestaurantDb"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=RestaurantManagement;Integrated Security=True;MultipleActiveResultSets=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RestaurantName" value="Restaurant Management System" />
  </appSettings>
</configuration>
